.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    overflow: auto;
    .settings-div {
        width: 180px;
        .case-sensitive-box {
            margin-top: 5px;
            .case-sensitive {
                transition: 0.2s;
                cursor: pointer;
            }
        }
    }
    .header {
        margin: 10px;
    }
}

.inactive {
    opacity: 0.4;
}