@font-face {
    font-family: CascadiaCode;
    src: url(../public/font/CascadiaCodeNF-Regular.ttf);
}

* {
    font-family: CascadiaCode, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
