:root {
    --bg-grey: rgb(240, 240, 240);
}

@font-face {
    font-family: CascadiaCode;
    src: url(./assets/font/CascadiaCodeNF-Regular.ttf);
}

* {
    font-family: CascadiaCode, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

button {
    color: black;
    padding: 5px 10px;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.2s;
    &:hover {
        background-color: rgba(0, 0, 0, 0.089);
    }
}
